main{
    background-image: url("../public/cat-bg.png");
    background-size: 100%;
    background-repeat: repeat-y;
    color: #fff;
    min-height: 100vh;
    z-index: 0;
}

main::before{
    background-color: rgba(15, 15, 15, 0.95);
    display: block;
    content: '';
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: fixed;
    left: 0;
    top: 0;
}

main > div{
    position: relative;
    min-height: 100vh;
}

main header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 3rem 0 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.418);
    width: 250px;
    margin: 0 auto;
}

main header h2{
    text-align: center;
    padding: .5rem;
    font-size: 54px!important;
    font-family: 'Edu NSW ACT Foundation', cursive!important;
}

main .Title{
    text-align: center;
    color: #fff;
    margin: 1rem 0 5rem;
    font-size: 20px!important;
    font-family: 'Edu NSW ACT Foundation', cursive!important;
}

main .content{
    background-color: rgba(15, 15, 15, 0.9);    
    max-width: 750px;
    margin: 0 auto;
    position: relative;
}

main .content .tabs{
    position: absolute;
    top: -45px;
    width: 100%;
}

main .content .tabs button{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

main .content .tabs button[aria-selected=true]{
    background-color: #fff;
    color: #0f0f0f;
}

main .content .busca{
    justify-content: space-evenly;
}

main .content .busca > div,
main .content .busca button{
    width: 100%;
    margin: 1rem .5rem;
}

main .content .busca button{
    color: #0f0f0f;
    font-weight: bold;
}

main .content .busca input::placeholder{
    color: #fff;
    font-size: 14px;
}

main .content ul{
    margin-top: 1.5rem;
    max-width: 550px;
    margin: 0 auto;
}

main .content ul li {
    counter-increment: index; 
    display: flex;
    align-items: center;
    padding: 1rem 0;
    box-sizing: border-box;
    text-align: left;
}

main .content ul li:not(:first-child){
    border-top: 1px solid rgba(255,255,255,0.2);
}

main .content ul li span{
    font-size: 30px;
    font-weight: bold;
    margin-right: .8rem;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main .content ul li p{
    color: #ffffffdb;
    font-size: 16px!important;
    width: 100%;
}

@media(max-width: 768px){
    main header img{
        width: 100px!important;
        height: 100px!important;
    }
    main header h2{
        font-size: 40px!important;
    }
    main .Title{
        font-size: 16px!important;
    }
    main .content .busca{
        flex-direction: column;
    }
    main .content .busca > div, main .content .busca button{
        margin: .4rem;
    }
    main .content .tabs button{
        font-size: 16px;;
    }

    
    main .content ul li{
        border-top: unset!important;
        background-color: rgba(255, 255, 255, 0.05);
        margin: 1.5rem 0;
        padding: 1rem;
        border-radius: 5px;
        position: relative;
    }
    main .content ul li span{
        position: absolute!important;
        left: -8px;
        top: -11px;
        display: block;
        position: relative;
        z-index: 1;
        display: block;
        font-size: 18px!important;
    }
    main .content ul li::before{
        display: block;
        content: '';
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgb(14 14 14);
        position: absolute;
        top: -15px;
        left: -15px;
        z-index: 0;
        border: 3px solid #1b1b1b;
    }
    main .content ul li p{
        font-size: 13px!important;
        text-align: left;
    }
}